* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* 
  SAME
*/
.trans-container {
  width: 450px;
  max-width: 100%;
  margin: 30px auto;
  text-align: center;
}
.example {
  width: 400px;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
  ROTATE
*/
.rotate-1, .rotate-2, .rotate-3 {
  width: 100px;
  height: 100px;
} 
.rotate-1 {
  background-color: lightgreen;
  position: relative;
}
.rotate-2 {
  position: absolute;
  background-color: lightpink;
}
.rotate-3 {
  position: absolute;
  background-color: lightseagreen;
}
.rotate-1:hover .rotate-2 {
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.rotate-1:hover .rotate-3 {
  transform: rotate(-45deg);
  transform-origin: 0% 100%;
}

/* 
  SCALE
*/
.scale-1, .scale-2, .scale-3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.scale-1 {
  position: relative;
  background-color: lightgreen;
}
.scale-2 {
  position: absolute;
  background-color: lightpink;
}
.scale-3 {
  position: absolute;
  background-color: lightseagreen;
}
.scale-1:hover .scale-2 {
  transform: scale(75%) translate(25%, 25%);
  transform-origin: bottom right;
}
.scale-1:hover .scale-3 {
  transform: scale(50%) translate(50%, 50%);
  transform-origin: bottom right;
}
